.tilt-box-wrap {
  width: 80%;
  height: 300px;
  margin: auto;
  position: relative;
  transition: all 0.6s ease-out;
  perspective: 1000px;
}

.tilt-box-wrap:hover {
  transition: all 0.3s linear;
  transform: scale(1.1);
}

.tilt-box {
  width: 100%;
  height: 100%;
  background: #04527b;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.6s ease-out;
  transform: rotateX(0deg) rotateY(0deg);
  perspective: 1000px;
  transform-style: preserve-3d;
}

.tilt-box div {
  margin: auto;
  width: 80%;
  height: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  top: 40px;
  animation: logos 20s infinite;
}

@keyframes logos {
  0%, 16.66% {
    background-image: url("../../../assets/ruby-logo.png");
  }

  16.67%, 33.33% {
    background-image: url("../../../assets/rails-logo.png");
  }
  
  33.34%, 50% {
    background-image: url("../../../assets/chef-logo.png");
  }

  50.01%, 66.66% {
    background-image: url("../../../assets/logstash-logo.jpg");
  }

  66.67%, 83.33% {
    background-image: url("../../../assets/druid-logo.jpg");
  }

  83.34%, 100% {
    background-image: url("../../../assets/react-logo.png");
  }
}

.tilt-box h5 {
  font-size: 24px;
  transform: translateZ(40px);
  position: relative;
  top: 25px;
}

.t_over {
  width: 33.333%;
  height: 33.333%;
  position: absolute;
  z-index: 1;
}

.t_over:nth-child(1) {
  left: 0;
  top: 0;
}

.t_over:nth-child(2) {
  left: 33.333%;
  top: 0;
}

.t_over:nth-child(3) {
  left: 66.666%;
  top: 0;
}

.t_over:nth-child(4) {
  left: 0;
  top: 33.333%;
}

.t_over:nth-child(5) {
  left: 33.333%;
  top: 33.333%;
}

.t_over:nth-child(6) {
  left: 66.666%;
  top: 33.333%;
}

.t_over:nth-child(7) {
  left: 0;
  top: 66.666%;
}

.t_over:nth-child(8) {
  left: 33.333%;
  top: 66.666%;
}

.t_over:nth-child(9) {
  left: 66.666%;
  top: 66.666%;
}

.t_over:nth-child(1):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(20deg);
}

.t_over:nth-child(2):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(0deg);
}

.t_over:nth-child(3):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(-20deg);
}

.t_over:nth-child(4):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(20deg);
}

.t_over:nth-child(5):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(0deg);
}

.t_over:nth-child(6):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(-20deg);
}

.t_over:nth-child(7):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(20deg);
}

.t_over:nth-child(8):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(0deg);
}

.t_over:nth-child(9):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(-20deg);
}

@media screen and (max-width: 650px) {
  .tilt-box-wrap {
    width: 100%;
    height: 300px;
  }

  .tilt-box {
    font-size: 10px;
    font-weight: 700;
  }
}