.resume h1 {
  text-align: center;
  color: var(--color-primary);
  font-size: 50px;
}

.resume-button {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.resume-button button {
  background: transparent;
  color: var(--color-text);
  cursor: pointer;
  border: 2.5px solid var(--color-primary);
  border-radius: 10rem;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(
    45deg,
    var(--color-primary) 50%,
    transparent 50%
  );
  background-image: linear-gradient(
    45deg,
    var(--color-primary) 50%,
    transparent 50%
  );
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.resume-button button:hover {
  background-position: 0;
  color: var(--color-text);
}

.resume-button button span {
  position: relative;
  bottom: 4px;
}

.resume-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-top: calc(var(--bs-gutter-y) * -1);
  padding-bottom: 50px;
  padding-top: 50px;
}

.resume-pdf {
  height: 100%;
  overflow-y: hidden;
}

@media screen and (max-width: 650px) { 
  .resume h1 {
    font-size: 38px;
  }
}
