.skillset-card-container {
  border: 1.7px solid rgba(67, 169, 163, 1);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2.5px 2px 1.5px rgba(67, 169, 163, 0.5);
  margin-top: 25px;
  
  .skillset-card {
    display: flex;
    font-size: 90px;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    transition: all 0.4s ease 0s;
  }

  .skillset-card:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: 600px) {
    .skillset-card {
      padding: 15px;
    }
  }

  .skillset-card-title {
    p {
      font-size: 20px;
      margin: 0;
      text-align: center;
      color: var(--color-text);
      margin-top: 15px;
    }
  }
}
