.contact h6 {
  font-family: "Noe Display";
  text-align: center;
  font-size: 51px;
  line-height: 67px;
  letter-spacing: 1.5px;
  color: var(--color-secondary);
}

.contact p {
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  margin-top: 25px;
}

.contact-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form label {
  color: var(--color-primary);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.column {
  flex: 1;
  margin: 0 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  color: var(--color-text);
  background: transparent;
  border-right: 2.5px solid var(--color-primary);
  border-bottom: 2.5px solid var(--color-primary);
  border-bottom-right-radius: 10px;
}

input[type="submit"] {
  background: transparent;
  color: var(--color-text);
  cursor: pointer;
  border: 2.5px solid var(--color-primary);
  border-radius: 10rem;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(
    45deg,
    var(--color-primary) 50%,
    transparent 50%
  );
  background-image: linear-gradient(
    45deg,
    var(--color-primary) 50%,
    transparent 50%
  );
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

input[type="submit"]:hover {
  background-position: 0;
  color: var(--color-text);
}

@media screen and (max-width: 650px) {
  .contact h6 {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0;
  }

  .contact p {
    font-size: 20px;
    line-height: 26px;
  }

  .column {
    flex: 100%;
    margin-bottom: 40px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 20px;
  }
}
