footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  border-top: solid var(--color-border) 1px;
}

footer div {
  flex: 0 0 auto;
  width: 33.33%;
  text-align: center;
}

.footer-icons {
  padding: 0;
}

.footer-icons-img {
  color: #fff;
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.footer-icons-img:hover {
  transform: scale(1.5);
}

.footer-icons li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 770px) {
  footer div {
    flex: 0 0 auto;
    width: 100%;
  }

  footer div:nth-child(-n + 2) {
    margin-bottom: 25px;
  }
}